<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TestMapper">
	<insert id="testInsert">
		INSERT INTO JOB (JOB_CODE, JOB_NAME)
		VALUES(2, 'test')
	</insert>
	
	<select id="testSelect" resultType="JobVo">
		SELECT * FROM JOB
	</select>
</mapper>